* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
	overflow-y: auto;
}
.bgimg {
	background: url('../images/website.jpg') no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}
img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
section {
	text-align: center;
}
.box {
	padding-top: 250px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #fff;
	box-sizing: border-box;
}
.team {
	margin-top: 20px;
}
.pad {
	margin-top: 20px;
}
a:hover {
	color: #fff;
}
.collapse {
	margin-left: 20px;
	margin-right: 40px;
}
